# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed

#Build, etc
build
build_server
.vscode

# Environment secrets
.env

# Dependency directories
node_modules
jspm_packages

# Optional npm cache directory
.npm

